
nav.nav-wrapper
	div.logo
		a(href="#")
			img(src="images/logo/logo1.svg" alt="logo")
				
	nav.navigation
		a.nav_item(href="#") HOME
		a.nav_item(href="#") ABOUT
		a.nav_item(href="#") BLOG
		a.nav_item(href="#") CONTACT
