nav.nav-wrapper
	div.logo
		a(href="#")
			img(src="images/logo/logo1.svg" alt="Long Beach Surfing Institute")
	nav.nav
		a.nav_item.nav_item--active(href="#") HOME
		a.nav_item(href="#") ABOUT
		a.nav_item(href="#") BLOG
		a.nav_item(href="#") CONTACT
		
