div.review 
	div.review__title Recent Reviews
	div.review-item 
		div.review-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed i
		div.review-item__author -  Steve Woz
	div.review-item 
		div.review-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed i
		div.review-item__author -  David Collum
	

	
