doctype html
html(lang=ru)
  head
    body
      div
  h1 Tema! Hi! Ok!
  ul
    li Comedy
    li Thriller
  p.
    Danny Ocean and his eleven accomplices plan to rob
    three Las Vegas casinos simultaneously.
