doctype html
html(lang=ru)
  head
    link(rel="stylesheet" href='css/main.min.css')
      body

include sections/header
include sections/hero

      div
        h1 Tema! Hi! Ok!
          ul
            li Comedy
            li Thriller
  p.
    Danny Ocean and his eleven accomplices plan to rob
    three Las Vegas casinos simultaneously.
