//@import "_mixins/font-face"
/*
@font-face {
    font-family: Lato;
    src: url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900");
    format('woff')
   }

@font-face {
	   font-family: "Playfair Display";
	   src: url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i");
	 };
*/
//		 font-family: "Lato," sans-serif;
//		 font-family: "Playfair Display", serif;
