@import "libs/bootstrap-reboot.min.scss";
@import "global/fonts";
@import "sections/nav";
@import "sections/header";
@import "sections/header/review";
@import "sections/header/video";
@import "sections/header/container";
@import "sections/container/instructor";
@import "sections/container/blog";
//@import "global/vars"
//@import "global/baseDir"
//@import "global/common"
//@import "global/spriteData"
//@import "global/button"

//@import "sections/nav"
//@import "sections/hero"


body {
color: black;
font-family: Lato;
}

img {
display: block;
max-width: 100%;
}
