div.blog-item

	div.blog-item__image
		img(src="images/blog/img-1.jpg" alt="blog")
	div.blog-item-content
		div.blog-item__header Lipsum cound be headline 
		div.blog-item__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedd
		a(href="#").blog-item__readmore Read More

div.blog-item
	div.blog-item__image
		img(src="images/blog/img-1.jpg" alt="blog")
	div.blog-item-content
		div.blog-item__image
			div.blog-item__header Lipsum cound be headline
			div.blog-item__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedd
			a(href="#").blog-item__readmore Read More
