div.instructors-wrapper
	div.instructors
		div.instructor__photo
			img(src="images/instructor/img-4.jpg" alt="instructors")
		div.instructor__name Simon Adward
		div.instructor__students 5,000 students

	div.instructors
		div.instructor__photo
			img(src="images/instructor/img-5.jpg" alt="instructors")
		div.instructor__name Elliana D’Soza
		div.instructor__students 4,350 students

	div.instructors
		div.instructor__photo
			img(src="images/instructor/img-22.jpg" alt="instructors")
		div.instructor__name Joseph Bardon
		div.instructor__students 3,248 students
